{% extends 'admin/layout/layout.html.twig' %}
{% block body %}

    <h1 class="mb-5 text-center"> Modifier votre profil </h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.username) }}
    {{ form_row(form.password) }}

    {{ form_end(form) }}

{% endblock %}